In [1]:
import pandas as pd 
import numpy as np 
from scipy.stats import shapiro
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('water_potability.csv')

In [3]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

### Data Exploration

In [13]:
df.Potability.value_counts()

0    1597
1    1052
Name: Potability, dtype: int64

In [4]:
df.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [11]:
# Drop pH and Trihalomethanes 
df.dropna(subset=['ph'], inplace= True)
df.dropna(subset=['Trihalomethanes'], inplace= True)

In [19]:
# Replace null values for sulfate with average values 
df['Sulfate'].fillna((df['Sulfate'].mean()),inplace=True)

In [20]:
df.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [21]:
df.dtypes

ph                 float64
Hardness           float64
Solids             float64
Chloramines        float64
Sulfate            float64
Conductivity       float64
Organic_carbon     float64
Trihalomethanes    float64
Turbidity          float64
Potability           int64
dtype: object

In [22]:
df.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2649.000000,2649.000000,2649.000000,2649.000000,2649.000000,2649.000000,2649.000000,2649.000000,2649.000000,2649.000000
mean,7.080149,196.334521,21923.811170,7.127005,333.224672,427.588395,14.302738,66.491551,3.969699,0.397131
std,1.584537,32.892158,8692.441264,1.586310,35.899696,81.103742,3.314805,16.162351,0.780571,0.489396
min,0.000000,73.492234,320.942611,0.530351,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.091383,176.808661,15671.119287,6.137757,316.567319,367.897563,12.095251,55.968217,3.445756,0.000000
50%,7.038092,197.191839,20852.764496,7.121264,333.224672,424.003499,14.252684,66.608891,3.958609,0.000000
75%,8.054886,216.673869,27215.902742,8.108318,349.492177,483.745716,16.575981,77.457885,4.511384,1.000000
max,14.000000,323.124000,56867.859236,13.127000,481.030642,753.342620,27.006707,124.000000,6.494749,1.000000